*.blg
*.log
*.nav
*.synctex.gz
*.synctex.gz\(busy\)
*.out
*.snm
*.toc
*.vrb
.DS_Store
tmp
CODES

CaffeTrian/01_prepare/data
CaffeTrian/01_prepare/label
CaffeTrian/01_prepare/lmdb
*.caffemodel
*.solverstate

*~
